/* Import Roboto font */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

/* Animations */
@keyframes color-change {
  from {
    fill: #edc655;
  }

  to {
    fill: #f76414;
  }
}

@keyframes cloud-move {
  from {
    transform: translate(0, 50px);
  }

  to {
    transform: translate(200px, 50px);
  }
}

@keyframes cloud-move-reverse {
  from {
    transform: translate(446px, 48px);
  }

  to {
    transform: translate(100px, 48px);
  }
}

.sun {
  animation: 4s color-change infinite alternate linear;
}

.cloud-front {
  animation: 30s cloud-move infinite alternate linear;
}

.cloud-back {
  animation: 34s cloud-move-reverse infinite alternate linear;
}

@media only screen and (min-width: 0) {
  .navtoggle li:not(:last-child) {
    display: none;
  }

  .logo {
    padding-top: 5px;
  }

  main {
    padding-top: 53px;
  }
}

/* ==============================
Medium devices (640px and larger)
================================= */
@media only screen and (min-width: 640px) {
  header {
    text-align: unset;
    padding: 20px 0 13px;
  }

  .logo {
    max-width: 150px;
    text-align: center;

    /* nuovo sotto due righe */
    display: inline-block;
    padding-top: 20px;
  }

  /* nuovo */
  header > div {
    max-width: 1200px;
    margin: 0 auto;
  }

  header .container {
    display: flex;
    justify-content: space-between;
  }

  nav > ul > li {
    display: inline-block;
  }

  nav > ul > li:last-child {
    display: none;
  }

  /* fine nuovo */
  nav {
    width: auto;
    float: right;
    margin-top: 4px;
  }

  .navtoggle li:not(:last-child) {
    display: inline-block;
  }

  body {
    font-size: 18px;
  }

  .col-md-6 {
    width: 50%;
  }

  [class*="col-"] {
    float: left;
    padding: 10px;
  }

  main {
    padding-top: 73px;

    /* era 103 */
  }
}

/* ==============================
Large devices (1024px or larger)
================================= */
@media only screen and (min-width: 1024px) {
  .container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }

  .col-lg-7 {
    width: 40%;
    height: 60%;
  }

  .navtoggle li:not(:last-child) {
    display: inline-block;
  }
}

/* ==============================
X-large devices (1440px or larger)
================================= */
@media only screen and (min-width: 1440px) {
  .navtoggle li:not(:last-child) {
    display: inline-block;
  }
}

/*
Colors used:
Primary Color: #769fcd;
Secondary Color: #b9d7ea;
Background Color: #f7fbfc;
*/
* {
  box-sizing: border-box;
}

/* Layout styling */
.container {
  padding: 0 15px;

  /* nuovo sotto due righe */
  max-width: 1200px;
  margin: 0 auto;
}

.row {
  margin: 25px 0;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

#work .row {
  padding-bottom: 25px;
  border-bottom: 1px solid #4a4a4a;
}

#hero h1 {
  text-align: center;
}

.logo {
  max-width: 250px;
  text-align: center;

  /* nuovo sotto due righe */
  display: inline-block;
}

/* Styles */
header {
  background-color: #b9d7ea;
  text-align: center;
  color: #fff;
  padding: 10px 0;
  position: fixed;
  box-shadow: 2px 2px 10px 0 rgba(40, 40, 40, 0.6);
  width: 100%;
}

/* tolto da anil nav {
  display: inline-block;
  width: 100%;
} */
nav > ul {
  list-style-type: none;
  padding: 0;
}

nav > ul > li > a {
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 700;
  color: #000;
}

.navtoggle,
.navtoggle.responsive {
  display: flex;
  justify-content: space-between;
  width: 100%;
  position: relative;
}

.navtoggle li .icon {
  position: absolute;
  right: 0;
  top: 2px;
  font-size: 20px;
  padding-right: 0;
}

.navtoggle.responsive li {
  display: block;
}

#hero {
  background-color: #b9d7ea;
  padding: 20px 0;
  display: inline-block;
  width: 100%;
  text-align: center;
}

#hero span {
  display: block;
}

#about-page h3 {
  margin-top: 0;
}

body {
  background-color: #f7fbfc;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.6;
  color: #000;
}

h1,
h2,
h3,
h4 {
  line-height: 1.4;
}

h1 {
  font-size: 2.75em;
  font-weight: 700;
}

h2 {
  font-size: 2.25em;
  font-weight: 700;
}

h3 {
  font-size: 1.75em;
  font-weight: 400;
}

h4 {
  font-size: 1.35em;
  font-weight: 400;
}

img {
  width: 100%;
}

.berlin-illustration {
  width: 100%;
  max-width: 100%;
  height: auto;
}

/* Links and buttons */
a {
  color: #769fcd;
  text-decoration: none;
}

a:hover {
  color: #769fcd;
  text-decoration: underline;
}

a:active {
  color: #b9d7ea;
}

.button {
  display: inline-block;
  background-color: #769fcd;
  color: #fff;
  font-weight: 400;
  text-decoration: none;
  padding: 10px;
  border-radius: 3px;
  border: 2px solid #769fcd;
  transition: opacity 0.2s;
  box-shadow: 2px 2px 6px 0 rgba(40, 40, 40, 0.5);
}

.button:hover {
  opacity: 0.8;
  color: #fff;
  text-decoration: none;
}

.button:active {
  background-color: #fff;
  color: #769fcd;
  opacity: 0.8;
  text-decoration: none;
  padding: 10px;
  border-radius: 3px;
  border: 2px solid #769fcd;
}

.button.contact {
  background-color: transparent;
  color: #769fcd;
  text-decoration: none;
  text-transform: uppercase;
  border: 2px solid #b9d7ea;
  margin-bottom: 15px;
}

.button.contact:hover {
  background-color: #b9d7ea;
  opacity: 0.8;
  color: #fff;
  text-decoration: none;
}

.button.contact:active {
  background-color: #fff;
  color: #769fcd;
  text-decoration: none;
}
