@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

/*
Colors used:
Primary Color: #769FCD;
Secondary Color: #B9D7EA;
Background Color: #F7FBFC;
*/

* {
  box-sizing: border-box;
}

/* Layout styling */

.container {
  padding: 0 15px;
}

.row {
  margin: 25px 0; /* 25px top and bottom, 0 left and right */
}

#work .row { padding-bottom: 25px; border-bottom: 1px solid #4a4a4a; }

#hero h1 {
  text-align: center; /* Centers text */
}

.logo {
  max-width: 250px;
  text-align: center;
}

/*fff*/

header {
  background-color: #B9D7EA;
  text-align: center;
  color: #ffffff;
  padding: 10px 0;
  position: fixed;
  box-shadow: 2px 2px 10px 0px rgba(40, 40, 40, 0.6);
  width: 100%;
}

nav {
  display: inline-block;
  width: 100%;
}

nav > ul {
  list-style-type: none;
  padding: 0;
}

nav > ul > li {
  display: inline-block;
}

nav > ul > li > a {
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 700;
  color: #000000;
}

main {
  padding-top: 103px;
}

#hero {
  background-color: #B9D7EA;
  padding: 20px 0;
  display: inline-block;
  width: 100%;
}

body {
  background-color: #F7FBFC;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.6;
  color: #000000;
}

h1, h2, h3, h4 {
  line-height: 1.4;
}
h1 {
  font-size: 2.75em;
  font-weight: 700;
}

h2 {
  font-size: 2.25em;
  font-weight: 700;
}

h3 {
  font-size: 1.75em;
  font-weight: 400;
}
h4 {
  font-size: 1.35em;
  font-weight: 400;
}
img {
  width: 100%;
}

/*Links and buttons*/
a {
  color: #769FCD;
  text-decoration: none;
}
a:hover {
  color: #769FCD;
  text-decoration: underline;
}

a:active {
  color: #B9D7EA;
}

.button {
  display: inline-block;
  background-color: #769FCD;
  color: #ffffff;
  font-weight: 400;
  text-decoration: none;
  padding: 10px;
  border-radius: 3px;
  border: 2px solid #769FCD;
  transition: 0.2s opacity;
  box-shadow: 2px 2px 6px 0px rgba(40, 40, 40, 0.5);
}

.button:hover {
  opacity: 0.8;
  color: #ffffff;
  text-decoration: none;
}

.button:active {
  background-color: #ffffff;
  color: #769FCD;
  opacity: 0.8;
  text-decoration: none;
  padding: 10px;
  border-radius: 3px;
  border: 2px solid #769FCD;
}

.button.contact {
  background-color: transparent;
  color: #769FCD;
  text-decoration: none;
  text-transform: uppercase;
  border: 2px solid #B9D7EA;
  margin-bottom: 15px;
}

.button.contact:hover {
  background-color: #B9D7EA;
  opacity: 0.8;
  color: #ffffff;
  text-decoration: none;
}

.button.contact:active {
  background-color: #ffffff;
  color: #769FCD;
  text-decoration: none;
}
